@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

:root {
  --primary: #282085;
  --secondary: #e2ae47;
  --darkGrey: #cacaca;
  --lightGrey: #f2f2f2;
  --green: #17c974;
  --blcak: #212121;
}

body {
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
  background-color: var(--lightGrey);
}

nav {
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
  padding: 1.4rem 0;
  color: var(--primary);
  box-shadow: 0 0 10px rgba(24, 24, 24, 0.05);
}

nav .logo {
  display: flex;
  /* align-items: center; */
}

nav .logo img {
  top: 0;
  max-width: 2.2rem;
}

nav .logo a {
  text-decoration: none;
  color: var(--primary);
  font-family: "arial";
  font-weight: 700;
  font-size: 1.5rem;
  /* background-color: #17c974; */
}

nav ul {
  /* background-color: #17c974; */
  display: flex;
  list-style: none;
  /* width: 30%; */
}

nav ul li {
  padding: 0 1rem;
}

nav ul li a {
  display: inline-block;
  margin-top: 1rem;
  color: var(--primary);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  align-items: center;
}

nav ul li a:hover {
  color: #3f32cf;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 19px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -6px;
  top: -3px;
  z-index: 2;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: var(--primary);
  border-radius: 5px;
  transition: all 0.5s;
}

/* Animation Toggle */

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(37deg);
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-37deg);
}

.menu-toggle span:nth-child(3) {
  opacity: 1;
  transition: 0.7s;
}

.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scaleX(0);
  transition: 0.1s;
}

/* Section Hero */
.hero .container {
  width: 100%;
  height: 500px;
  background-color: #17c974;
}

/* Media queries */

/* Laptop */
@media (max-width: 1336px) {
  html {
    font-size: 75%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

@media (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    /* display: none; */
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 25rem;
    flex-direction: column;
    background-color: rgba(54, 73, 222, 0.3);
    justify-content: flex-start;
    text-align: center;
    padding-top: 60px;
    transform: translateX(100%);
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease;
  }

  nav ul li a {
    box-sizing: border-box;
    display: flex;
    font-size: 1.4rem;
    padding: 0.8rem 0;
    width: 100%;
    color: var(--primary);
    font-weight: 500;
  }

  nav ul li a:hover::after {
    transform: scaleX(0.5);
  }

  nav ul.slide {
    transform: translateY(0);
    opacity: 1;
  }
}
